@import "./leaflet/leaflet.css";

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#map {
  width: 100vw;
  height: 100vh;
}

#left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  z-index: 999;
}

#search {
  top: 1rem; 
  position: absolute;
  background-color: #2f2f2f;
  left: 1rem;
  border-radius: 1rem;
  height: 2rem;
  width: 15rem;
  z-index: 999;
  border: none;
  padding: 1rem;
  color: #ffffff;
}


#card {
  position: absolute;
  background-color: #2f2f2f;
  top: 56%;
  transform: translate(0%, -50%);
  left: 1rem;
  border-radius: 1rem;
  height: 85%;
  width: 17rem;
  z-index: 999;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  z-index: 1000;
  top: 20px;
  right: 60px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2f2f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #2f2f2f;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
